/** @format */

.life {
  .inner {
    .contents {
      .life-list {
        display: grid;
        grid-template-columns: repeat(7, 130px);
        grid-template-rows: repeat(4, 130px);

        .life-list-item {
          border: 1px solid #000;
        }
      }
    }
  }
}

// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  .life-list {
    li {
      width: 50% !important;
    }
  }
}
