/** @format */

.profile {
  position: relative;
  height: 100vh;
  background: #fff;
  // display: flex;
  // align-items: center;
  .inner {
    width: 100%;
    .contents {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: #d3d3d3 1px solid;
      border-bottom: #d3d3d3 1px solid;
      padding: 100px 50px;
      .img {
        width: 215px;
        height: 215px;
        background: url("../../public/images/profile.png") no-repeat center;
      }
      .about-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 25px;
        padding: 20px;
        .about-title {
          color: #222;
          font-size: 35px;
          line-height: 35px;
          margin-bottom: 20px;
        }

        .about-period {
          color: #444;
          font-size: 20px;

          margin-bottom: 5px;
        }
      }
    }
    .contact {
      display: block;
      text-align: right;
      a {
        .c-icon {
          color: #444;
          display: inline-block;
          font-size: 30px;
          line-height: 35px;
          margin: 10px 5px;
        }
        .c-icon:hover {
          color: #a08e82;
        }
      }
    }
  }
}

.a-icon {
  font-size: 16px;
  line-height: 20px;
  margin-right: 5px;
}
.a-mb {
  margin-bottom: 15px;
}
.bar {
  position: relative;
  display: block;
  width: 1px;
  height: 180px;
  background: #ececec;
}
.download-tooltip {
  position: absolute;
  background-color: #444;
  color: #fff;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; /* 마우스 이벤트를 허용하지 않음 */
  z-index: 999; /* 다른 요소 위에 표시되도록 설정 */
}

a:hover .download-tooltip {
  opacity: 0.5;
}
// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  .profile .contents {
    flex-wrap: wrap !important;
    .profile-box {
      width: 100% !important;
    }
  }
}
