/** @format */

.profile {
  background: #fff;
  .inner {
    height: 100vh;

    .contents {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: start;
      border-top: #d3d3d3 1px solid;
      border-bottom: #d3d3d3 1px solid;
      padding: 100px 50px;
      .img {
        width: 215px;
        height: 215px;
        background: url("../../public/images/profile.png") no-repeat center;
      }
      .a-profile {
      }
      .a-education {
      }
      .a-experince {
      }
      .a-icon {
        font-size: 16px;
        line-height: 20px;
        margin-right: 5px;
      }
    }
    .contact {
      a {
        position: relative;
        display: inline-block;
        text-align: right;
        margin-top: 20px;
        font-size: 16px;
      }
    }
  }
}
.about-card {
  display: flex;
  flex-direction: column;
  line-height: 25px;
}
.about-title {
  color: #222;
  font-size: 35px;
  margin-bottom: 15px;
}
.about-period {
  color: #444;
  font-size: 20px;
  margin-bottom: 5px;
}
// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  .profile .contents {
    flex-wrap: wrap !important;
    .profile-box {
      width: 100% !important;
    }
  }
}
