/** @format */

.profile {
  .inner {
    .contents {
      width: 100%;
      display: flex;
      .left {

        .img {
          display: block;
          width: 213px;
          height: 213px;
          background: url("../../public/images/profile.png") no-repeat;
        }
      }
      .right {
        .top {
        }
        .bottom {
        }
      }
    }
  }
}

// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  .profile .contents {
    flex-wrap: wrap !important;
    .profile-box {
      width: 100% !important;
    }
  }
}
