/** @format */

.skills {
  .inner {
    .contents {
      .skills-list {
        display: grid;
        grid-template-columns: repeat(
          2,
          1fr
        ); /* 2개의 컬럼을 1:1 비율로 설정 */
        grid-gap: 0 50px; /* 칼럼 사이의 간격을 50px로 설정 */

        > li {
          position: relative;
          display: flex;
          width: 100%;
          gap: 20px;
          padding: 10px;
          img {
            width: 85px;
            height: 85px;
          }
          .s-r {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .skill-name {
              color: #222;
              font-size: 20px;
            }
            > span {
              padding-left: 5px;
              color: #444;
            }
            .progress-bar {
              margin-top: 5px;
              background: #d9d9d9;
              width: 100%;
              height: 20px;
              border-radius: 10px;
              > div {
                width: 100%;
                height: 20px;
                border-radius: 10px;
              }
              .html {
                background: #e14e1d;
                animation: html 3s ease-in-out forwards;
              }
              .css {
                background: #0277bd;
                animation: css 3s ease-in-out forwards;
              }
              .js {
                background: #f0db4f;
                animation: js 3s ease-in-out forwards;
              }
              .react {
                background: #242938;
                animation: react 3s ease-in-out forwards;
              }
              .ps {
                background: #31a8ff;
                animation: ps 3s ease-in-out forwards;
              }
              .ai {
                background: #ff9a00;
                animation: ai 3s ease-in-out forwards;
              }
              .pigma {
                background: #353535;
                animation: pigma 3s ease-in-out forwards;
              }
              .tailwindcss {
                background: #16bcb8;
                animation: tailwindcss 3s ease-in-out forwards;
              }
              .sass {
                background: #ff62b1;
                animation: sass 3s ease-in-out forwards;
              }

              .git {
                background: #161614;
                animation: git 3s ease-in-out forwards;
              }
              .jquery {
                background: #e83418;
                animation: jquery 3s ease-in-out forwards;
              }
              .typescript {
                background: #017acb;
                animation: typescript 3s ease-in-out forwards;
              }
              .redux {
                background: #764abc;
                animation: redux 3s ease-in-out forwards;
              }
              .postman {
                background: #ff6c37;
                animation: postman 3s ease-in-out forwards;
              }
            }
          }
        }
      }
    }
  }
}
@keyframes html {
  100% {
    width: 95%;
  }
}
@keyframes css {
  100% {
    width: 90%;
  }
}
@keyframes js {
  100% {
    width: 80%;
  }
}
@keyframes react {
  100% {
    width: 80%;
  }
}
@keyframes ps {
  100% {
    width: 90%;
  }
}
@keyframes ai {
  100% {
    width: 85%;
  }
}
@keyframes pigma {
  100% {
    width: 75%;
  }
}
@keyframes tailwindcss {
  100% {
    width: 75%;
  }
}
@keyframes sass {
  100% {
    width: 75%;
  }
}
@keyframes git {
  100% {
    width: 65%;
  }
}
@keyframes jquery {
  100% {
    width: 65%;
  }
}
@keyframes typescript {
  100% {
    width: 60%;
  }
}

@keyframes redux {
  100% {
    width: 50%;
  }
}
@keyframes postman {
  100% {
    width: 40%;
  }
}

.skill-slide {
  .swiper-button-next,
  .swiper-button-prev {
    margin-top: -80px;
    color: #bdbdbd !important;
    display: none;
  }
}
// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  .skills-list {
    li {
      width: 50% !important;
    }
  }
}
